<input type="file" [accept]="fileTypes()" hidden onClick="this.value=null" class="file-input" #fileUpload
    (change)="onFileSelected($event)" />

<div class="file-upload-container">
    <div class="drag-and-drop-zone" appFileDropZone [types]="fileTypes()" (fileDropped)="onFileDropped($event)">
        <div class="upload-icon-container">
            <span class="description-text">Upload or drag and drop here your file to check for anomalies</span>
            <button mat-icon-button (click)="fileUpload.click()">
                <span class="material-symbols-outlined">
                    upload
                </span>
            </button>

            <button mat-stroked-button (click)="fileUpload.click()">Browse files</button>
        </div>
    </div>


    @if(file()) {
    <div class="file-card-container">
        <span class="material-symbols-outlined">attach_file</span>
        <div class="file-information">
            <div class="file-name">{{fileName()}}</div>
            <div class="file-size">{{ fileSize() }} {{ fileSizeUnit() }}</div>
        </div>
        <button mat-icon-button (click)="onDeleteFile()" class="delete-icon">
            <span class="material-symbols-outlined">delete</span></button>
    </div>
    <div class="continue-button">
        <button mat-flat-button (click)="onContinue()">Continue</button>
    </div>
    }

</div>